{% if product.metafields.custom_fields["description_1"] != blank %}
  <div class="custom-field custom-field__description-1 custom-field__type--text">
    <h3 class="custom-field--title">Description 1</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["description_1"] }}
    </div>
  </div>
{% endif %}