{% if product.metafields.custom_fields["collection_info_2"] != blank %}
  <div class="custom-field custom-field__collection-info-2 custom-field__type--text">
    <h3 class="custom-field--title">Collection Package Size</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["collection_info_2"] }}
    </div>
  </div>
{% endif %}