{% if product.metafields.custom_fields["description_5"] != blank %}
  <div class="custom-field custom-field__description-5 custom-field__type--text">
    <h3 class="custom-field--title">Description 5</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["description_5"] }}
    </div>
  </div>
{% endif %}