{% if product.metafields.custom_fields["collection_info_1"] != blank %}
  <div class="custom-field custom-field__collection-info-1 custom-field__type--text">
    <h3 class="custom-field--title">Collection Unit</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["collection_info_1"] }}
    </div>
  </div>
{% endif %}