{% if product.metafields.custom_fields["price_info"] != blank %}
  <div class="custom-field custom-field__price-info custom-field__type--text">
    <h3 class="custom-field--title">Product Unit</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["price_info"] }}
    </div>
  </div>
{% endif %}