{% if product.metafields.custom_fields["description_4"] != blank %}
  <div class="custom-field custom-field__description-4 custom-field__type--text">
    <h3 class="custom-field--title">Description 4</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["description_4"] }}
    </div>
  </div>
{% endif %}