{% if product.metafields.custom_fields["description_2"] != blank %}
  <div class="custom-field custom-field__description-2 custom-field__type--text">
    <h3 class="custom-field--title">Description 2</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["description_2"] }}
    </div>
  </div>
{% endif %}